:root {
  margin: 0 auto;
  padding: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-btn {
  margin-bottom: 30%;
  width: 100px;
  border: 0;
  padding: 0;
}

.start, .stop {
    margin: 0;
}

.start {
  background-color: #333;
  color: greenyellow;
}

.stop {
    background-color: goldenrod;
}